<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Крестики/нолики</title>
    <link href="/css/KrestN.css" rel="stylesheet">
    <script src="/js/KrestN.js"></script>
    <!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



</head>
<body>
<div class="rez_war">
    <p class="rez_text"></p>
</div>
<div class="rez_war_no">
    <p class="rez_text_no">Ничья</p>
</div>
<section>
    <!--    <div class="statistics"><p>Раунд <span>1</span></p></div>-->
    <!--
        <div class="score">Игрок1 <span class="num_c">0</span> - <span class="num_u">0</span>  Игрок2</div>
        <div class="wrapper">
    -->
    <div class="score" >Игрок1 (X) <span id="win1"></span> - <span class="win2"></span>  Игрок2 (O)</div>
    <div class="wrapper">


        <div><button class="cell" id="s1" onclick="turn(1)"> </button></div>
        <div><button class="cell" id="s2" onclick="turn(2)" ></button></div>
        <div><button class="cell" id="s3" onclick="turn(3)" ></button></div>

        <div><button class="cell" id="s4" onclick="turn(4)"></button></div>
        <div><button class="cell" id="s5" onclick="turn(5)"></button></div>
        <div><button class="cell" id="s6" onclick="turn(6)"></button></div>

        <div><button class="cell" id="s7" onclick="turn(7)"></button></div>
        <div><button class="cell" id="s8" onclick="turn(8)"></button></div>
        <div><button class="cell" id="s9" onclick="turn(9)"></button></div>
    </div>
    <div id="rur">
    </div>

    <div class="restart">
        <a href="http://localhost:8080/game">Начать заново</a>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>